<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">

<link rel="shortcut icon" th:href="@{/favicon.ico}">
<link rel="stylesheet" th:href="@{/js/iview/iview.css}">

<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/js/iview/iview.min.js}"></script>

</head>
<body class="gray-bg">
	<div id="app"></div>

	<script type="text/javascript">
		new Vue({
			el : '#app',
			methods: {
				reload: function(){
					this.$Message.warning('请重新登录');
					
					setTimeout(function(){parent.window.reload();},1000);
					setTimeout(function(){parent.parent.window.reload();},1000);
					setTimeout(function(){parent.parent.parent.window.reload();},1000);
					setTimeout(function(){parent.parent.parent.parent.window.reload();},1000);
					setTimeout(function(){parent.parent.parent.parent.parent.window.reload();},1000);
				}
			},
			mounted : function() {
				this.reload();
			}
		});
	</script>
</body>
</html>
