.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #03A4AD;
    border-color: #03A4AD;
}

.el-checkbox__inner:hover {
    border-color: #03A4AD;
}
