html, body {
	height: 100%;
	overflow: hidden;
}

body {
	padding: 0px;
}

html, body, 
.cell, 
.ivu-modal-body, 
.ivu-form .ivu-form-item-label,
.ivu-radio-wrapper, 
.el-button--mini, .el-button--small, 
.ivu-select-item, .ivu-input ,
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
    font-size: 14px !important;
	font-weight: 400;
}

.el-table th>.cell {
	font-weight: bold !important;
}

.va-toolbar-item, .el-table th>.cell {
	font-size: 12px !important;
}

.va-toolbar {
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #D8D8D8;
	margin-bottom: 0px;
	overflow: hidden;
	padding-left: 10px;
}

.va-toolbar-item {
	padding: 0px;
}

.va-toolbar-item:focus {
	box-shadow: 0 0;
}

.demo-split {
	border: none;
	margin: 0 auto;
}

.left-pane>.demo-split-pane {
	padding: 10px;
}

.right-pane>.demo-split-pane {
	padding: 10px 10px 10px 15px;
}

.my-menu {
	margin-bottom: 10px;
}

.el-table th {
	background-color: #F8F8F8;
	color: #222;
	height: 38px !important;
}

.el-table td {
	padding: 0;
	color: #555;
	height: 36px !important;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
	background-color: #F3F3F3;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
	.el-table__body tr.current-row>td,.el-table__body tr.hover-row.current-row>td,
	.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
	.el-table__body tr.hover-row.el-table__row--striped>td,
	.el-table__body tr.hover-row>td {
	background-color: #EAFBFC;
}

.ivu-form-item {
	margin-bottom: 15px;
}

.ivu-form-item-error-tip {
	left: 5px;
	padding-top: 2px;
}

.ivu-poptip, .ivu-poptip-rel {
	display: inline-block;
	width: 100%;
}

.ivu-input-number-input {
	background-color: #fff;
}

.ivu-modal-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ivu-modal-wrap .ivu-modal {
	top: 0;
}

.search {
	margin-bottom: 5px;
}

.tb-search {
	margin-bottom: 10px;
	width: 360px;
	float: left;
}

.group-list {
	padding: 5px 10px 5px 10px;
	border-bottom: 1px dashed #ccc;
}

.hactive {
	color: #555;
}

.aactive {
	color: #03A4AD;
}

.el-tree-node > .el-tree-node__children {
	overflow: inherit;
}

.ivu-page-options-sizer .ivu-select-dropdown {
    max-height: inherit;
}

input[readonly] {
    background-color: #F3F3F3;
    color:#555;
}

.va-pwd input[readonly] {
	background-color: #FFFFFF !important;
    color: inherit;
}
