<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CUSTOM_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread]%logger -%msg%n"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="ROLLING-FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/va_manage_client/info/log-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/va_manage_client/info/log-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${CUSTOM_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING-FILE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/va_manage_client/warn/log-warn.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/va_manage_client/warn/log-warn.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${CUSTOM_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

	<!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CUSTOM_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <!-- 业务日志输出，由 logstash 或 filebeat 收集 -->
    <appender name="ROLLING-FILE-VA-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/va_manage_client/biz/log-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/va_manage_client/biz/log-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ~%msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="ROLLING-FILE-INFO"/>
        <appender-ref ref="ROLLING-FILE-WARN"/>
    </root>
    
	<logger name="com.jiuqi" level="INFO" additivity="false">
		<appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING-FILE-INFO"/>
        <appender-ref ref="ROLLING-FILE-WARN"/>
    </logger>

	<!-- 业务日志输出，由 logstash 或 filebeat 收集 -->
    <logger name="com.jiuqi.va.log" level="INFO" additivity="false">
        <appender-ref ref="ROLLING-FILE-VA-LOG"/>
    </logger>

</configuration>